.feeSelect{
  border-radius: 8px;

  label {
    flex: 1;
    padding: 1em;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--light-blue);
    cursor: pointer;
    transition: transform .3s ease;
    border-radius: 8px;
    max-width: 8em;
    transform-origin: center center;
    border: solid transparent;

    &:first-child{
      transform-origin: left center;
    }

    &:last-child{
      transform-origin: right center;
    }

    &:has(input:checked){
      border-color: var(--dark-blue);
      transform: scale(1.2);
      z-index: 1;
    }

    input{
      display: none;
    }

  }
}