body {
  --blue: #344f81;
  --light-blue: #95b8d1;
  --dark-blue: #354667;
  --green: #b8e0d2;
  --light-green: #d6eadf;
  --white: #fff;
  --dark: #333936;
  --yellow: #e5d6b1;
  --red: #eac4d5;
  --dark-red: #642943;
  background: var(--blue);
  color: var(--dark);
  font-family: Courier, sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
button, .button{
  font-family: inherit;
  color: inherit;
  background: var(--light-green);
  border: solid 0;
  border-radius: 8px;
  padding: 1em 2em;
  min-width: 8em;
  cursor: pointer;
  &.primary {
    background: var(--dark-blue);
    color: var(--light-green);
    font-weight: 590;
  }
  &[disabled]{
    color: var(--dark-blue);
    background: gray;
    cursor: no-drop;
    pointer-events: none;
  }
  &:hover{
    box-shadow: #465d8f 0 0 2px 2px;
  }
  &:active{
    box-shadow: #465d8f 0 0 3px 3px;
  }
  &.text{
    background: none;
    padding: .5em 0;
    text-decoration: underline;
    box-shadow: none;
    color: var(--dark-blue);
    &:hover{

    }
    &.primary{
      font-weight: bold;
    }
  }

}

.text-lg{
  font-size: 2rem;
}

.text-sm{
  font-size: .875rem;
}

.text-xs{
  font-size: .75rem;
}
html,body{
  height: 100%;
}
#start{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  height: 100%;
  padding: 3em 0;
  gap: 3em;
  box-sizing: border-box;
  >span{
    max-width: 600px;
    margin: 0 auto;
    flex: 0;
  }
}