body {
  --blue: #4f6691;
  --light-blue: #95b8d1;
  --dark-blue: #354667;
  --green: #b8e0d2;
  --light-green: #d6eadf;
  --dark: #084624;
  --red: #eac4d5;
  --dark-red: #642943;
  background: var(--blue);
  color: var(--dark);
  font-family: Courier, sans-serif;
  margin: 0;
  overflow: auto;
}
button{
  font-family: inherit;
  color: inherit;
  background: var(--light-green);
  border: solid 0;
  border-radius: 8px;
  padding: 1em 2em;
  min-width: 8em;
  cursor: pointer;
  &[disabled]{
    color: var(--dark-blue);
    background: gray;
    cursor: no-drop;
    pointer-events: none;
  }
  &:hover{
    box-shadow: #465d8f 0 0 2px 2px;
  }
}

.text-lg{
  font-size: 2rem;
}

.text-sm{
  font-size: .875rem;
}

.text-xs{
  font-size: .75rem;
}
html,body{
  height: 100%;
}
#start{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  height: 100%;
  padding: 3em 0;
  gap: 3em;
  box-sizing: border-box;
  >span{
    max-width: 600px;
    margin: 0 auto;
    flex: 0;
  }
}